*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.debug{

    nav{
        border: 1px dashed black;
        background-color: #daa520;
    }

    .jumbotron{

        .jumbotron_content{
            background-color: #ee82ee;
        }
    }

    .invite_only{

        .invite_only_image{
            background-color: #1e90ff;
        }
        .invite_only_text{
            background-color: #ffc0cb;
        }
    }

    .community{

        .community_image{
            background-color: #1e90ff;
        }
        .community_text{
            background-color: #ffc0cb;
        }
    }

    .fandom{
        
        .fandom_image{
            background-color: #1e90ff;
        }
        .fandom_text{
            background-color: #ffc0cb;
        }
    }

    .technology{

        .technology_content{
            background-color: #228b22;
        }
    }

    .container{

        .contacts{
            background-color: #f08080;
            border: 1px dashed black;
        }

        .list{
            background-color: #20b2aa;
            border: 1px dashed black;
        }
    }

    .footer{
        background-color: #7fffd4;
        border: 1px dashed black;

        .logo_foot,
        .btn{
            background-color: #ffb6c1;
            border: 1px dashed black;
        }
    }
}

/* Header */

#site_header{
    padding: 1rem;
    background-color: #add8e6;
}

nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Main */

.jumbotron{
    background-color: #00008b;
}

.jumbotron_content{
    width: 80%;
    height: 400px;
}

.invite_only{
    background-color: #ffffff;
}

.community{
    background-color: #d3d3d3;
}

.fandom{
    background-color: #ffffff;
}

.technology{
    background-color: #d3d3d3;
}

.invite_only_image,
.community_image,
.fandom_image{
    width: 60%;
    height: 500px;
}

.invite_only_text,
.community_text,
.fandom_text{
    width: 40%;
    height: 500px;
}

.technology_content{
    width: 100%;
    height: 900px;
}


.contacts{
    width: 40%;
    height: 580px;
}

.list{
    width: 15%;
    height: 580px;
}

footer{
    background-color: #23272a;
}

.footer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo_foot,
.btn{
    padding: 0.25rem;
}
