*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{

    nav{
        border: 1px dashed black;
        background-color: #daa520;
    }

    .jumbotron{
        min-height: 200px;

        .jumbotron_content{
            background-color: #ee82ee;
        }
    }

    .invite_only{
        min-height: 200px;

        .invite_only_image{
            background-color: #1e90ff;
        }
        .invite_only_text{
            background-color: #ffc0cb;
        }
    }

    .community{
        min-height: 200px;

        .community_image{
            background-color: #1e90ff;
        }
        .community_text{
            background-color: #ffc0cb;
        }
    }

    .fandom{
        min-height: 200px;

        .fandom_image{
            background-color: #1e90ff;
        }
        .fandom_text{
            background-color: #ffc0cb;
        }
    }

    .technology{
        min-height: 200px;

        .technology_content{
            background-color: #228b22;
        }
    }

    .info{

        .contacts{
            background-color: #f08080;
            border: 1px dashed black;
        }

        .list{
            background-color: #20b2aa;
            border: 1px dashed black;
        }
    }

    .footer{
        background-color: #7fffd4;
        border: 1px dashed black;

        .logo_foot,
        .btn{
            background-color: #ffb6c1;
            border: 1px dashed black;
        }
    }
}

/* Header */

#site_header{
    padding: 1rem;
    background-color: #add8e6;
}

nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* Main */

.jumbotron,
.invite_only,
.community,
.fandom,
.technology{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.jumbotron{
    background-color: #00008b;
}

.jumbotron_content{
    width: 900px;
    height: 400px;
}

.invite_only{
    background-color: #ffffff;
}

.community{
    background-color: #d3d3d3;
}

.fandom{
    background-color: #ffffff;
}

.technology{
    background-color: #d3d3d3;
}

.invite_only_image,
.community_image,
.fandom_image{
    width: 720px;
    height: 500px;
}

.invite_only_text,
.community_text,
.fandom_text{
    width: 480px;
    height: 500px;
}

.technology_content{
    width: 1200px;
    height: 900px;
}

/* Footer */

.info{
    background-color: #23272a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ffffff;
}

.contacts{
    width: 350px;
    height: 580px;
}

.list{
    width: 200px;
    height: 580px;
}

footer{
    background-color: #23272a;
    padding: 1rem;
}

.footer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo_foot,
.btn{
    padding: 0.25rem;
}
